@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root{
  --red: red;
  --blue: blue;
  --gray: gray;
}
html, body{
  width: 100%;
  max-width: 100vw;
  height: 100%;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 10%;
  margin: 0%;
  margin-bottom: 1%;
  padding: 0%;
  display: flex;
  border-bottom: 1px solid black;
}
#conteudo{
  width: 100%;
  height: 87%;
  margin: 0%;
  padding: 0%;
  display: block;
}
#audios{
  display: none;
}
/*css : 1278*/